<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
</head>
<body>
	<p th:text="'content: ' + ${message.content}" />
	<a href="/form">Submit another message</a>

	<h1>Message form</h1>
	
	<form action= "#" th:action= "@{/next}" th:object= "${message}" method= "post">
		<p>
			Content: <input type= "text" th:field= "*{content}" />
		</p>
		<p>
			<input type= "submit" value= "Submit" />
		</p>
	</form>
	
</body>
</html>